/* Estilos generales para el modal */
.custom-modal .modal-content {
  margin-top: auto;
  max-height: 350px;
  max-width: 550px;
  height: 475px;
  width: 475px;
  background-color: #351c76;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  border: 2px solid #ffffff;
}

/* Estilos para el encabezado del modal */
.custom-modal .modal-header {
  border-bottom: none;
  color: white;
}

/* Estilos para el cuerpo del modal */
.custom-modal .modal-body {
  padding: 10px;
  margin-left: 15px;
}

/* Estilos para el video */
.custom-modal .modal-body video {
  border-radius: 10px;
  border: 3px solid #ff9d00;
  background-color: black;
  pointer-events: auto;
}

/* Estilos para el fondo del modal */
.custom-modal .modal-backdrop {
  z-index: 2500px !important;
}

/* Estilos para la superposición del modal */
.custom-modal .modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Estilo del video en el modal */
.custom-modal .video-player {
  width: 400px;
  height: 250px;
  display: block;
  border-radius: 10px;
}

/* Desactivar el scrollbar en el modal */
.custom-modal .modal-body::-webkit-scrollbar {
  display: none;
}

/* Si deseas efectos adicionales como la superposición */
.custom-modal .overlay {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}

.custom-modal .modal-content:hover .overlay {
  transition: opacity 1s ease-in-out;
}

.custom-modal .overlay::-webkit-scrollbar {
  display: none;
}

/* Cambiar el color de la "X" en el botón de cierre */
.custom-modal .btn-close {
  filter: invert(2); /* Invertir el color para hacerlo blanco */
}
