.form-check input[type="radio"]:focus {
    outline: none;
    box-shadow: none;
}

.form-check input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #007bff;
    border-radius: 50%;
    background-color: white;
    transition: all 0.2s ease;
    position: relative;
    vertical-align: middle;
    z-index: 10;
    margin-top: 3px;
    margin-left: -25px;
}


.form-check input[type="radio"]:checked {
    border-color: white;
}


.form-check input[type="radio"]:checked::after {
    content: '\2713';
    font-size: 14px;
    color: #28a745;
    position: absolute;
    top: -2px;
    left: -10px;
}

.form-check-label {
    font-size: 12px;
    color: #333;
    padding-left: 25px;
}

p.blogs {
    max-height: 55px !important;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    transition: max-height 0.5s ease;
}

p.expanded {
    max-height: 400px;
    overflow-y: auto;
    bottom: 0;
}

p.with-gradient {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

p.with-gradient::-webkit-scrollbar {
    display: none;
}

p.expanded.with-gradient::after {
    display: none;
}